body {
  font-family: var(--font-family);
  font-size: var(--font-size-body);
  color: var(--color-primary);
  background-color: var(--color-background);
}

h1 {
  font-size: var(--font-size-h1);
  font-weight: 700;
  line-height: 1.1;
}

h2 {
  font-size: var(--font-size-h2);
  font-weight: 600;
  line-height: 1.2;
}

h3 {
  font-size: var(--font-size-h3);
  font-weight: 600;
  line-height: 1.3;
}
